.topnav {
  overflow: hidden;
  }
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
.topnav a:hover {
  color: #00ffff;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.body{
  background-image: linear-gradient(rgba(0,0,0,0.62),rgba(0,0,0,0.62)),url('back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 }
.head{
  color: white;
  font-family: Supermercado One;
  font-size: 45px;
  padding-top: 100px;
  padding-left: 12px;
}
.para{
  color: white;
  font-size: 35px;
  font-family: Sans-Serif;
  margin-left: 20px;
}
.para span{
  font-size: 40px;
  font-family: Kaushan Script;
  font-style: italic;
  color: #00ffff;
  
}
.image{
  width: 220px;
  height: 220px;
  margin-top:80px;
}
.image:hover{
  height: 250px;
  width: 250px;
  margin-top: 65px;
  border:3px solid white;
  border-radius: 50%;
}
.para1{
  font-size: 22px;
 font-style: italic;
  color: white;
  text-align: center;
  margin-bottom: 0;
 }
  .link .fab{
    color: white;
    font-size: 30px;
    padding: 8px;
    margin-top: 10px;
    }
  .fab:hover{
    color: #4267B2;
    font-size: 36px;
    margin-top: 5px;
  }
  .button-tag .btn-tag{
    color:#000;
    background: #11468F;
    border: none;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 2px;
  }
  .btn-tag:hover{
    background: #1572A1;
    color: #fff;
   }
  .btn-tag a{
    text-decoration: none;
    color: #fff;
  }
footer{
  font-size: 15px;
  color: white;
  text-align: center;
  padding-top: 200px;
}
footer span{
  color: #00ffff;
  font-size: 16px;
}

.body-1{
  background-color: #222831;
  margin: 0;
  padding: 0;
}
.educate-head{
  text-align: center;
  font-size: 50px;
  color: #C0D8C0;
  font-family: 'Fjalla One', sans-serif;
 
}
.education-body{
  background-color: black;
 }
 .edu-head{
   color: white;
   font-size: 40px;
   margin-top: 20px;
   margin-left: 8px;
 }
 .carousel-inner{
   margin-top: 100px;
   border-radius: 20px;
   width: 100%;
  height: 300px;
 }
 .p2{
   color: white;
   font-size: 18px;
 }
 td{
   font-size: 25px;
   color: white;
   font-family: 'Supermercado One', cursive;
   
   }
  td img{
     width: 160px;
     height: 160px;
   }
 .td{
   padding-left: 7px;
 }
   td a{
     color: powderblue;
     text-decoration: none;
   }
   td a:hover{
     font-size: 27px;
     margin-top: 5px;
     color: #00ffff;
   }
   .foot-3{
     padding-top: 60px;
   }
   .about-body{
     background-color: black;
     width: 100%;
     margin: 0;
     padding: 0;
     
   }
   .head5 h1{
     font-size: 40px;
     color: #F7ECDE;
     font-weight: 700;
     padding-top: 10px;
     padding-left: 10px;
   }
  .head5 .about-para{
     color: white;
     font-size: 20px;
     font-style: italic;
     line-height: 39px;
     margin-left: 5px;
     font-family: 'Ubuntu', sans-serif;
   }
   .about-para1{
     margin-top: 20px;
     font-size: 20px;
     margin-left: 16px;
     color: white;
   }
   .about-para1 a{
     color: #00ffff;
     font-family: 'Quintessential', cursive;
   }
   .foot{
     padding-top: 230px;
   }
   .place-container{
     width:100%;
     height: 100vh;
     background-color: black;
     padding: 0;
   }
   .place-para{
     color: white;
     font-size: 25px;
     margin-top: 15px;
     margin-left: 5px;
   }
   .dd{
     color: purple;
   }
   .foot-1{
     padding-top: 180px;
   }
   .place-para p{
     font-size: 24px;
   }
